.classFormWrapper * {
  margin: 0 auto;
}

.classFormWrapper > div {
  display: flex;
  flex-direction: column;
  width: 290px;
  border: 1px solid black;
  border-radius: 2%;
  align-items: space-around;
  padding: 15px 0;
}

.classFormWrapper h1 {
  margin: 5px auto;
}

.classFormWrapper input {
  width: 75%;
  margin: 10px auto;
}
